version: "3.8"

services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      # user-service:
      #   condition: service_healthy
      # driver-service:
      #   condition: service_healthy
      - trip-service
      - notification-service
      - matching-service
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:9000/actuator/health"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5


  trip-service:
    build:
      context: ./trip-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - sqlserver
      - redis
      - broker
      - matching-service
    # healthcheck:
    #   test: "curl --fail --silent localhost:8081/actuator/health | grep UP || exit 1"
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  driver-service:
    build:
      context: .
      dockerfile: driver-service/Dockerfile
    container_name: driver-service
    ports:
      - "8082:8082"
      - "28082:28082"  # gRPC
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - sqlserver
      - redis


  matching-service:
    build:
      context: ./matching-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    depends_on:
      - redis
      - sqlserver
      - broker
    # healthcheck:
    #   test: "curl --fail --silent localhost:8083/actuator/health | grep UP || exit 1"
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    container_name: user-service
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8080
    depends_on:
      - sqlserver
      
  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    depends_on:
      - broker
      - schema-registry
    ports:
      - "8084:8084"
      - "28084:28084"
    # healthcheck:
    #   test: "curl --fail --silent localhost:8084/actuator/health | grep UP || exit 1"
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  redis:
    image: redis:7.0-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    # healthcheck:
    #   test: ["CMD", "redis-cli", "ping"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'ruok' | nc zookeeper 2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: broker
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "broker:29092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      broker:
        condition: service_healthy
    ports:
      - "8185:8185"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "broker:29092"
      SCHEMA_REGISTRY_LISTENERS: http://schema-registry:8185
    healthcheck:
      test: ["CMD", "curl", "-f", "http://schema-registry:8185/subjects"]
      interval: 10s
      timeout: 5s
      retries: 5

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
      - MSSQL_TCP_PORT=1433
    volumes:
      - sqlserver-data:/var/opt/mssql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "YourStrong@Passw0rd", "-Q", "SELECT 1", "-C"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  sqlserver-data: